.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* css for components */

.header{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.footer{
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* height: 30px; */
}

.footer p{
  color: white;
  text-align: center;
}

.card{
  width: 10rem;
  min-height: 100px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 4rem;
}

.pokeimg{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.pokename{
  text-align: center;
  cursor: pointer;
}

/* card container */
.cards{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* pokemon info card */
.poke_info_card_container{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(222, 209, 209, 0.6);
  display: none;
}
.poke_info_card_container_active{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgba(222, 209, 209, 0.6);
}
.poke_info_card{
  position: fixed;
  max-width: 100%;
  width: 400px;
  height: 400px;
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 10px 5px 10px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* for buttons(prev, next) */
.button{
  cursor: pointer;
  margin: 10px;
  font-size: 10px;
  padding: 5px;
}

/* responsivness media quraies */

@media screen and (max-width: 480px) {
  .poke_info_card{
    top: 0;
    height:100%;
    bottom: 0;
    margin-top: 0;
  }
}